/*
 * RIOT colors
 * red:     #bc1a29
 * green:   #3fa687
 * black:   #0e0e0e
 *
 * text:    #aaaaaa
 * header:  #ffffff
 */

@font-face {
    font-family: miso;
    src: url("miso.otf") format("opentype");
}

@font-face {
    font-family: miso;
    font-weight: bold;
    src: url("miso-bold.otf") format("opentype");
}

@font-face {
    font-family: miso;
    font-weight: light;
    src: url("miso-light.otf") format("opentype");
}

body {
    width: 800px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #aaaaaa;
    font-family: sans-serif;
    font-size: 12px;
}

#head {
    display: none;
    height: 50px;
    background-color: #ffffff;
}

#menu {
    background-color: #cccccc;
    font-size: 14px;
}

#menu > span {
    cursor: pointer;
}

#listview {
    width: 200px;
    float: left;
}

#listview > #active-head {
    border-color: #bc1a29;
    color: #bc1a29;
}

#listview > #stale-head {
    border-color: #3fa687;
    color: #3fa687;
}

.listhead {
    padding: 7px 0 2px 20px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    font-size: 18px;
    font-family: miso;
    font-weight: bold;
}

#listview .node {
    padding: 5px 0 5px 10px;
    border-width: 0 0px 1px 0;
    border-style: solid;
    border-color: #353535;
}

#listview .node:hover {
    color: #ffffff;
    background-color: #1e1e1e;
    cursor: pointer;
}

.k {
    font-weight: bold;
    font-family: miso;
    font-size: 16px;
    color: #ffffff;
}
.v {
}

#nodeview {
    width: 500px;
    margin: 10px 50px 0 50px;
    float: left;
}

#nodeview > .snip {
    padding: 15px 20px 2px 20px;
    border-width: 0 0px 1px 0px;
    border-style: solid;
    border-color: #353535;
}

#nodeview > .info {
    border-color: #3fa687;
}

#nodeview .row {
    padding: 2px;
    clear: both;
    width: 100%;
}

#nodeview .row > .col {
    width: 30%;
    float:left;
}

#nodeview .k {
    width: 50px;
    margin-right: 15px;
    display: block;
    float:left;
    text-align: right;
}

#scar_speed {
    display: block;
    float:left;
    margin-left: 50px;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: top;
}

#scar_speed.stop {
    background-image: url('sym_stop.png');
}

#scar_speed.fw {
    background-image: url('sym_fw.png');
}

#scar_speed.bw {
    background-image: url('sym_bw.png');
}



#scar_block {
    display: block;
    float: right;
    margin-right: 50px;
    width: 150px;
}

#scar_block_icon {
    height:130px;
    background-image: url('sym_car.png');
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: top;
    margin: 10px 0;
}

#scar_block_f, #scar_block_b {
    height: 20px;
    border-radius: 5px;
}

#scar_block_f.free, #scar_block_b.free {
    background-color: #3fa687;
}
#scar_block_f.blocked, #scar_block_b.blocked {
    background-color: #bc1a29;
}


#behave_header {
    display: block;
    float: left;
    width: 200px;
    margin-top: 20px;
    font-weight: bold;
    font-family: miso;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.carbtn {
    display: block;
    width: 90px;
    height: 90px;
    border: 2px solid #0e0e0e;
    margin: 10px 10px;
    float: left;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 90px;
}

.carbtn:hover {
    border-color: #3fa687;
    cursor: pointer;
}

#acar_b0.act {
    background-image: url('sym_b1a.png');
}
#acar_b0.pass {
    background-image: url('sym_b1p.png');
}

#acar_b1.act {
    background-image: url('sym_b2a.png');
}
#acar_b1.pass {
    background-image: url('sym_b2p.png');
}

#acar_b2.act {
    background-image: url('sym_b3a.png');
}
#acar_b2.pass {
    background-image: url('sym_b3p.png');
}

#acar_b3.act {
    background-image: url('sym_man_a.png');
}
#acar_b3.pass {
    background-image: url('sym_man_p.png');
}

